td = channel.name
td = link_to 'Edit', edit_channel_path(id: channel)
td = link_to 'Set manager', choose_manager_path(id: channel)
td = link_to 'Delete', channel, method: :delete, data: {confirm: "You sure?"}
