h2 Coming soon: Vancouver Info Co-op

p A competitive market for information that empowers you --
  e.g. how can you save money on mobile phone services, banking, groceries etc?
p See our plans in the #{link_to('FAQ', faq_path)} and #{link_to('Info Co-op Outline', 'http://votermedia.org/publications/InfoCoopOutline.pdf')}.
