- content_for :title, 'FAQ'
h1 Frequently Asked Questions

h3 1. Who is organizing the Vancouver Info Co-op?

p Several of the people on the #{link_to('Votermedia Team', 'http://votermedia.org/about_contact')}, including Mark Latham and Greg Moreno,
  as well as others who will be listed here soon.

h3 2. Why are you doing this?

p We want to make a better world by empowering people with information. Large organizations, especially governments and corporations, often tend to concentrate power in a few people. We think organizations would serve people better, if people have good enough information to choose wisely, when spending money and when electing leaders.

p An information co-op can be a first step in that direction. In its early stages, it can help members save money. As membership grows, the increasing pool of funds could buy other types of info like entertainment and software. Meanwhile, the co-op can set an example for how we could better inform voters in democracies and shareowners of corporations.

h3 3. How much will this cost?

p Our initial plan is for each member to pay $1 a month into a pool for buying information. We will give an open invitation for providers of information to the co-op. Members will vote to divide the funding pool among the providers, giving them an incentive to provide useful information. We will kickstart this process with donated funds.

h3 4. How can I find out more about this info co-op plan?

ul
  li Read the #{link_to('Info Co-op Outline', 'http://votermedia.org/publications/InfoCoopOutline.pdf')}.
  li Visit this website again in a few weeks. By then we should have a news signup option.
  li Email mark[at]votermedia.org.
  
h4 Thanks for your interest!