# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  email_provider_username: yourgmailaddress@gmail.com
  email_provider_password: yourgmailpassword
  domain_name: 
  secret_key_base: 

test:
  domain_name: 
  secret_key_base: 

# Do not keep production secrets in the repository,
# instead read values from the environment.
# If this file is not in git repo, then copy production settings below into
# /shared/config/secrets.yml in production.
production:
  admin_name: <%= ENV["ADMIN_NAME"] %>
  admin_email: <%= ENV["ADMIN_EMAIL"] %>
  admin_password: <%= ENV["ADMIN_PASSWORD"] %>
  email_provider_username: <%= ENV["EMAIL_PROVIDER_USERNAME"] %>
  email_provider_password: <%= ENV["EMAIL_PROVIDER_PASSWORD"] %>
  email_provider_address: <%= ENV["EMAIL_PROVIDER_ADDRESS"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
