# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  email_provider_username: yourgmailaddress@gmail.com
  email_provider_password: yourgmailpassword
  domain_name: vaninfocoop.ca
  secret_key_base: d234069e183a75a4cd73594421542adc62d5b014cf8a662219fbcb721aebd761ee235907c66cb1536fe5cf22fed0cc1064683b9211c280e21567cc7791a26c25

test:
  domain_name: vaninfocoop.ca
  secret_key_base: 66935cfec265ab19e8e93fd37078413b095d9e075e8a01a9ac67b2cb9081b600e76756b4e123b415817b2cc5e99dd7b5d17e9d047906e832688505614bf28cb0

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  email_provider_username: <%= ENV["GMAIL_USERNAME"] %>
  email_provider_password: <%= ENV["GMAIL_PASSWORD"] %>
  domain_name: <%= ENV["DOMAIN_NAME"] %>
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
