.mall-display {
  height:   100px;
  overflow: scroll;
}

.mall-vote {
  padding: 10px;
}

.you-voted {
  color: green;
}

.centred {
  text-align: center;
}

.share {
  text-align: right;
  font-weight: bold;
  color: green;
}

.green {
  color: green;
}
