table.mall {
  margin-left:auto; 
  margin-right:auto;
  td, th {
    border-bottom: 2px solid $mango;
  }
}

.rank-share {
  border-left: 2px solid $mango;
  padding-left: 5px;
  padding-top: 18px;
  vertical-align: top;
}

.mall-display {
  height:   100px;
  overflow: scroll;
  border-right: 2px solid $mango;
}

.mall-vote {
  padding: 10px;
}

.you-voted {
  color: green;
}

.centred {
  text-align: center;
}

.share {
  text-align: right;
  font-weight: bold;
  color: green;
}

.green {
  color: green;
}
