/////////// Customize variables for vaninfocoop.ca ///////////

//== Colors
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 46.7%) !default; // #777
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$blue-dark:              #003680;
$blue:                   #0030c0;
$mango:                  #fa0;
$mango-dark:             #f90;

//== Scaffolding
$text-color:            $gray-darker;
$link-color:            $blue;
$link-hover-color:      $mango-dark;

// Navbar
$navbar-margin-bottom:  0;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-lighter;
$navbar-inverse-bg:                         $blue-dark;
$navbar-inverse-border:                     $mango;

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-lighter;
$navbar-inverse-link-hover-color:           $mango;
$navbar-inverse-link-hover-bg:              $blue;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $mango;
$navbar-inverse-brand-hover-color:          $mango;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $blue;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        $mango;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// import google font
@import url("http://fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 40px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

/////////// Customize styles for vaninfocoop.ca: ///////////

// Navbar
.navbar-fixed-top {
  border-bottom-width: 3px;
}

// Inverse navbar
.navbar-inverse {
  .navbar-brand {
    > a {
      font-family: 'Lobster', cursive;
      font-size: ceil(($font-size-large * 1.25));
      color: $navbar-inverse-brand-color;
      &:hover,
      &:focus {
        color: $navbar-inverse-brand-hover-color;
        background-color: $navbar-inverse-brand-hover-bg;
      }
    }
  }
}

// Footer
.footer {
  border-width: 3px 0 0 0;
  border-top: solid $mango;
  border-radius: 0;
  ul {
    margin: 0 0 0 2*$navbar-padding-horizontal;
    li {
      margin-bottom: 0;
    }
  }
}
// Misc

.border-3-10 {
  border-radius: 10px;
  border: 3px solid $mango;
}

// Unordered and Ordered lists
li {
  margin-bottom: ($line-height-computed / 4);
}

// Posts

.posts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 15px 0 10px 0;
    border-top: 1px solid $mango-dark;
  }
}
.user {
}
.title {
  font-weight: bold;
  font-size: $font-size-large;
}
.content {
}
.timestamp {
  color: $gray;
  font-style: italic;
}
.gravatar {
  float: left;
  margin-right: 10px;
}