/////////// Customize variables for vaninfocoop.ca ///////////

//== Colors
$gray-darker:            lighten(#000, 13.5%) !default; // #222
$gray-dark:              lighten(#000, 20%) !default;   // #333
$gray:                   lighten(#000, 33.5%) !default; // #555
$gray-light:             lighten(#000, 46.7%) !default; // #777
$gray-lighter:           lighten(#000, 93.5%) !default; // #eee
$blue-dark:              #039;
$blue:                   #03c;
$mango:                  #f90;
$mango-dark:             darken(#f90, 10%);

//== Scaffolding
$text-color:            $gray-darker;
$link-color:            $blue;
$link-hover-color:      $mango-dark;

// Navbar
$navbar-margin-bottom:  0;

// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $gray-lighter;
$navbar-inverse-bg:                         $blue-dark;
$navbar-inverse-border:                     $mango;

// Inverted navbar links
$navbar-inverse-link-color:                 $gray-lighter;
$navbar-inverse-link-hover-color:           $mango;
$navbar-inverse-link-hover-bg:              $blue;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $mango;
$navbar-inverse-brand-hover-color:          $mango;
$navbar-inverse-brand-hover-bg:             $blue;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            $blue;
$navbar-inverse-toggle-icon-bar-bg:         #fff !default;
$navbar-inverse-toggle-border-color:        $mango;

// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

// import google font
@import url("http://fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

/////////// Customize styles for vaninfocoop.ca: ///////////

// Navbar
.navbar-fixed-top {
  border-bottom-width: 3px;
}

// Unordered and Ordered lists
li {
  margin-bottom: ($line-height-computed / 4);
}

////// Inverse navbar //////

.navbar-inverse {

  .navbar-brand {
    > a {
      font-family: 'Lobster', cursive;
      font-size: ceil(($font-size-large * 1.25));
      color: $navbar-inverse-brand-color;
      &:hover,
      &:focus {
        color: $navbar-inverse-brand-hover-color;
        background-color: $navbar-inverse-brand-hover-bg;
      }
    }
  }
}