p Mark Latham, Website Administrator, Vancouver Info Co-op Project

p 1328 West Pender Street, Suite 3601, Vancouver B.C., V6E 4T1

p = link_to 'Link to project info & contacts', 'http://vaninfocoop.ca/about'

p Registered users can log in to the #{link_to('Vancouver Info Co-op website', 'http://vaninfocoop.ca/users/sign_in')}. Then you can subscribe or unsubscribe to emails by clicking "Edit Account".
