p Mark Latham, Website Administrator, Sofcoop Project

p 1328 West Pender Street, Suite 3601, Vancouver B.C., V6E 4T1, Canada

p = link_to 'Link to project info & contacts', 'http://sofcoop.org/about'

p Registered users can log in to the #{link_to('Sofcoop website', 'http://sofcoop.org/users/sign_in')}. Then you can subscribe or unsubscribe to emails by clicking "Edit Account".
